<div id="creation" class="middle-container container">
    <div class="account block"> <!-- ACCOUNT (RIGHT-CONTAINER) -->
        <h2 class="titular">PROJECT DETAILS</h2>
        <div class="input-container">
            <input ng-model="details.name" type="text" placeholder="Project Name">
        </div>
        <div class="input-container">
            <input ng-model="details.prodetails" type="text" placeholder="Project Details">
        </div>
        <div class="input-container">
            <input ng-model="details.description" type="text" placeholder="Project Description">
        </div>
        <a class="sign-in button" href="/#!/view1">NEXT</a>
    </div>
</div>