<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="\javascripts\checkboxes.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="/js/HomeApp.js"></script>
    <script>
        function myFunctions() {
            document.getElementById("myDropdown1").classList.toggle("show");
        }
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn1')) {

                var dropdowns = document.getElementsByClassName("dropdown-content1");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
</head>

<body ng-app="myapp">
<header id="content" class="block">
    <ul class="header-menu horizontal-list">
        <li>
            <a class="header-menu-tab" href="#1">NAME</a>
        </li>
    </ul>
    <div class="profile-menu">
        <button onclick="myFunctions()" id="mybtn1" class="dropbtn1">User</button>
        <div id="myDropdown1" class="dropdown-content1">
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
        </div>
    </div>
</header>

<div id="bucket" class="left-container container">
    <div class="menu-box block"> <!-- MENU BOX (LEFT-CONTAINER) -->
        <h2 class="titular">BUCKET</h2>
        <ul class="menu-box-menu">
            <li id="part1" class="part2" ng-controller="defaultctrl">
                  Project Details <a class="edit" href="/#!/loggedin">edit</a>
                  <ul class="details">
                    <li>name: {{details.name}}</li>
                    <li>details: {{details.prodetails}}</li>
                    <li>description: {{details.description}}</li>
                  </ul>
            </li>
            <li class="part2" ng-controller="view1ctrl">
                Frameworks {{user.roles}} <a class="edit" href="/#!/view1">edit</a>
            </li>
            <li class="part2" ng-controller="view2ctrl">
                UI templates <a class="edit" href="/#!/view2">edit</a>
              <div ng-repeat="photos in photo.samples">
                <img src="photos">
                </div>
            </li>
        </ul>
    </div>
</div>

<div ng-view>

</div>

<footer id="content1">
    <ul class="footer-menu horizontal-list">
        <li>
            <a class="footer-menu-tab" href="#1">About us</a>
        </li>
        <li>
            <a class="footer-menu-tab" href="#2">Projects</a>
        </li>
    </ul>
</footer>
</body>
</html>
