<div class="right-container">
    <div class="account block"> <!-- ACCOUNT (RIGHT-CONTAINER) -->
        <h2 class="titular">LOGIN TO YOUR ACCOUNT</h2>
        <div class="input-container">
            <input type="text" placeholder="yourname@gmail.com" class="email text-input">
            <div class="input-icon envelope-icon-acount"></div>
        </div>
        <div class="input-container">
            <input type="password" placeholder="Password" class="password text-input">
            <div class="input-icon password-icon"></div>
        </div>
        <a ng-click="emaillogin" class="sign-in button" href="#22">LOGIN</a>
        <a href="#"><p class="scnd-font-color">Forgot Password?</p></a>
        <a href="/#!/signup"><p class="scnd-font-color">New User? Sign Up</p></a>
        <!--<button ng-click="authenticate('facebook')">Sign in with Facebook</button>-->
        <!--<button ng-click="authenticate('google')">Sign in with Google</button>-->
        <!--<button ng-click="authenticate('github')">Sign in with GitHub</button>-->
        <!--<button ng-click="authenticate('linkedin')">Sign in with LinkedIn</button>-->
        <!--<button ng-click="authenticate('instagram')">Sign in with Instagram</button>-->
        <!--<button ng-click="authenticate('twitter')">Sign in with Twitter</button>-->
        <!--<button ng-click="authenticate('foursquare')">Sign in with Foursquare</button>-->
        <!--<button ng-click="authenticate('yahoo')">Sign in with Yahoo</button>-->
        <!--<button ng-click="authenticate('live')">Sign in with Windows Live</button>-->
        <!--<button ng-click="authenticate('twitch')">Sign in with Twitch</button>-->
        <!--<button ng-click="authenticate('bitbucket')">Sign in with Bitbucket</button>-->
    </div>
</div>