<div>
<header id="mybuttons" class="block">
    <a id="next" class="sign-in button" href="/#!/view2">NEXT</a>
</header>
<div class="lblock">
    <ul class="leftr-menu vertical-list">
      <label ng-repeat="feature in myWelcome">
        <li>
            <a ng-click="myFunction2(feature.id)" class="dropbtn handover">{{feature.name}}<span class="entypo-down-open scnd-font-color"></span></a>
            <div id="{{feature.id}}" class="dropdown-content">
                <label ng-repeat="role in feature.subfeatures">
                    <input type="checkbox" checklist-model="user.roles" checklist-value="role.sf"> {{role.sf}}
                </label>
            </div>
        </li>
      </label>
    </ul>
</div>
</div>
