<div>
    <header id="mybuttons" class="block">
        <a id="next" class="sign-in button" href="#23">PREVIEW</a>
        <a id="preview" class="sign-in button" href="/#!/last">NEXT</a>
    </header>
    <label ng-repeat="role in myWelcome">
      <input class="cb" type="checkbox" checklist-model="photo.samples" checklist-value="role.url"><img ng-src="{{role.url}}">
    </label>
</div>
