.body{
    background-color: rgb(31, 37, 61);
    width:100%;
    top:0;
    left:0;
    height:670px;


}
.button-color{
    background:#e64c65;
    color: white;
    border-color:#e64c65 ;
    border-radius: 5px;
    width: 107px;
    height: 50px;
    font-weight: 600;
    margin-top: 560px;
    margin-left: 370px;

}
.button1-color{
    background:#e64c65;
    color: white;
    border-color:#e64c65 ;
    border-radius: 5px;
    width: 107px;
    height: 50px;
    font-weight: 600;
    margin-top: 150px;
    margin-left: 43px;

}
.preview-box{
    width: 648px;
    border: 1px solid royalblue;
    padding: 2px;
    margin-top: -510px;
    position: relative;
    display: block;
    margin-left: 173px;
    height: 442px;
}
.button1-color:hover{
    background-color:#cc324b ;
    border:none;
}
.button-color:hover{
    background-color:#cc324b ;
    border:none;
}
