/** Inspired by: http://graphicburger.com/flat-design-ui-components/ **/
/** Line-chart and donut-chart made by @kseso http://codepen.io/Kseso/pen/phiyL **/


/************************************ FONTS ************************************/
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(http://weloveiconfonts.com/api/?family=entypo|fontawesome|zocial);
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}
@font-face {
	font-family: 'icomoon';
	src:url('http://jlalovi-cv.herokuapp.com/font/icomoon.eot');
	src:url('http://jlalovi-cv.herokuapp.com/font/icomoon.eot?#iefix') format('embedded-opentype'),
		url('http://jlalovi-cv.herokuapp.com/font/icomoon.ttf') format('truetype'),
		url('http://jlalovi-cv.herokuapp.com/font/icomoon.woff') format('woff'),
		url('http://jlalovi-cv.herokuapp.com/font/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-cloudy:before {
	content: "\e60f";
}
.icon-sun:before {
	content: "\e610";
}
.icon-cloudy2:before {
	content: "\e611";
}
/************************************* END FONTS *************************************/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	background: #1f253d;
}

ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

h1 {
	font-size: 23px;
}

h2 {
	font-size: 17px;
}

p {
	font-size: 15px;
}

a {
	text-decoration: none;
	font-size: 15px;
}
	a:hover {
		text-decoration: underline;
	}

h1, h2, p, a, span{
	color: #fff;
}
	.scnd-font-color {
		color: #9099b7;
	}

.input-container {
	position: relative;
}
	input[type=text]{
		width: 260px;
		height: 50px;
		margin-left: 20px;
		margin-bottom: 20px;
		padding-left: 20px;
		background: #50597b;
		color: #fff;
		border: solid 1px #1f253d;
		border-radius: 5px;
	}
		input[type=text]::-webkit-input-placeholder { /* WebKit browsers */
	   		color: #fff;
	   	}
		input[type=text]:-moz-input-placeholder { /* Mozilla Firefox 4 to 18 */
	   		color: #fff;
	   	}
		input[type=text]::-moz-input-placeholder { /* Mozilla Firefox 19+ */
	   		color: #fff;
	   	}
		input[type=text]:-ms-input-placeholder { /* Internet Explorer 10+ */
	   		color: #fff;
	   	}
	   	input[type=text]:focus {
	   		outline: none; /* removes the default orange border when focus */
	   		border: 1px solid #11a8ab;
	   	}
  input[type=password]{
    width: 260px;
    height: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    background: #50597b;
    color: #fff;
    border: solid 1px #1f253d;
    border-radius: 5px;
  }
    input[type=password]::-webkit-input-placeholder { /* WebKit browsers */
      color: #fff;
      }
    input[type=password]:-moz-input-placeholder { /* Mozilla Firefox 4 to 18 */
      color: #fff;
    }
    input[type=password]::-moz-input-placeholder { /* Mozilla Firefox 19+ */
      color: #fff;
    }
    input[type=password]:-ms-input-placeholder { /* Internet Explorer 10+ */
      color: #fff;
    }
    input[type=password]:focus {
      outline: none; /* removes the default orange border when focus */
      border: 1px solid #11a8ab;
    }
	.input-icon {
		font-size: 22px;
		position: absolute;
		left: 31px;
		top: 10px;
	}
		.input-icon.password-icon {
			left: 35px;
		}

.horizontal-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
	.horizontal-list li {
		float: left;
	}

.clear {
	clear: both;
}

.icon {
	font-size: 25px;
}

.titular {
	display: block;
	line-height: 60px;
	margin: 0;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.button {
	display: block;
	width: 175px;
	line-height: 50px;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	margin: 0 auto;
	border-radius: 5px;
	-webkit-transition: background .3s;
	transition: background .3s;
}
	.button:hover {
		text-decoration: none;
	}

.arrow-btn-container {
	position: relative;
}
	.arrow-btn {
		position: absolute;
		display: block;
		width: 60px;
		height: 60px;
		-webkit-transition: background .3s;
		transition: background .3s;
	}
		.arrow-btn:hover {
			text-decoration: none;
		}
		.arrow-btn.left {
			border-top-left-radius: 5px;
		}
		.arrow-btn.right {
			border-top-right-radius: 5px;
			right: 0;
			top: 0;
		}
		.arrow-btn .icon {
			display: block;
			font-size: 18px;
			border: 2px solid #fff;
			border-radius: 100%;
			line-height: 17px;
			width: 21px;
			margin: 20px auto;
			text-align: center;
		}
			.arrow-btn.left .icon {
				padding-right: 2px;
			}

/** MAIN CONTAINER **/

.main-container {
	font-family: 'Ubuntu', sans-serif;
	width: 950px;
	height: 1725px;
	margin: 6em auto;
}

	/*********************************************** HEADER ***********************************************/
	.block {
    height: 80px;
    margin-left: 0px;
	}
		.header-menu {
			font-size: 17px;
			line-height: 80px;
		}
			.header-menu li {
				position: relative;
        		-webkit-transform: translateZ(0); /** To avoid a flash when hover messages **/
			}
				.header-menu-tab {
					padding: 0 27px;
					display: block;
					line-height: 74px;
					font-size: 17px;
					-webkit-transition: background .3s;
					transition: background .3s;
				}
					.header-menu-tab:hover {
						background: #50597b;
						border-bottom: 4px solid #11a8ab;
						text-decoration: none;
					}
					.header-menu-tab .icon {
						padding-right: 15px;
					}
				.header-menu-number {
					position: absolute;
					line-height: 22px;
					padding: 0 6px;
					font-weight: 700;
					background: #e64c65;
					border-radius: 100%;
					top: 15px;
					right: 2px;
					-webkit-transition: all .3s linear;
					transition: all .3s linear;
				}
					.header-menu li:hover .header-menu-number {
						text-decoration: none;
						-webkit-transform: rotate(360deg);
						transform: rotate(360deg);

					}
		.profile-menu {
			float: right;
			height: 80px;
			padding-right: 20px;
		}
			.profile-menu p {
				font-size: 17px;
				display: inline-block;
				line-height: 76px;
				margin: 0;
				padding-right: 10px;
			}
				.profile-menu a {
					padding-left: 5px;
				}
					.profile-menu a:hover {
						text-decoration: none;
					}
			.small-profile-picture {
				display: inline-block;
				vertical-align: middle;
			}
	/** CONTAINERS **/
	.container {
		float: left;
		width: 300px;
	}
		.block {
			margin-bottom: 10px;
			background: #394264;
			border-radius: 5px;
		}
		/******************************************** LEFT CONTAINER *****************************************/
		.left-container {
			margin-top: 10px;
			margin-right: 20px;
		}
			.menu-box {
				height: 360px;
			}
				.menu-box .titular {
					background: #11a8ab;
				}
				.menu-box-menu .icon {
					display: inline-block;
					vertical-align: top;
					width: 28px;
					margin-left: 20px;
					margin-right: 15px;
				}
				.menu-box-number {
					width: 36px;
					line-height: 22px;
					background: #50597b;
					text-align: center;
					border-radius: 15px;
					position: absolute;
					top: 15px;
					right: 15px;
					-webkit-transition: all .3s;
					transition: all .3s;
				}
				.menu-box-menu li{
					height: 60px;
					position: relative;
				}
				.menu-box-tab {
					line-height: 60px;
					display: block;
          padding-left:20px;
					border-bottom: 1px solid #1f253d;
					-webkit-transition: background .2s;
					transition: background .2s;
				}
					.menu-box-tab:hover {
						background: #50597b;
						border-top: 1px solid #1f253d;
						text-decoration: none;
					}
					.menu-box-tab:hover .icon {
						color: #fff;
					}
					.menu-box-tab:hover .menu-box-number {
						background: #e64c65;
					}

		/************************************************** MIDDLE CONTAINER **********************************/
		.middle-container {
			margin-left: 270px;
			margin-top: 30px;
		}

		/********************************************* RIGHT CONTAINER ****************************************/
		.right-container {
      margin-left: 520px;
      margin-top:26px;
      margin-right:520px;
    }
			.account {
				height: 400px;
        top: 40px;
			}
				.account .titular {
					padding: 10px 0;
				}
				.sign-in.button {
					background: #e64c65;
          margin: 10px auto;
				}
					.sign-in.button:hover {
						background: #cc324b;
					}
				.account p {
					text-align: center;
				}

/*------------------------------------------------dropdown--------------------------------*/
.dropbtn {
  background-color: #394264;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background: #50597b;
  border-bottom: 4px solid #11a8ab;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1f253d;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:2;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100px;
  height: 60px;
}

.dropdown a:hover {background-color: #1f253d}

.show {display:block;}

#drop{
  position: relative;
  width:600px;
  height: 300px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropbutton{
  min-width:200px;
  height:100px;
}

/*---------------------------------------------------random------------------------------*/

#next{
  float: left;
}
#preview{
  float: right;
  margin-right: 10px;
}
#bucket{
  clear: right;
  float: right;
  position:relative;
  z-index: 1;
}
footer{
  position: fixed;
  right: 5px;
  bottom: 0px;
  left: 5px;
  height: 40px;
  background: #394264;
  border-radius: 5px;
}
  .footer-menu {
    font-size: 17px;
    line-height: 40px;
  }
  .footer-menu li {
    position: relative;
    -webkit-transform: translateZ(0); /** To avoid a flash when hover messages **/
  }
  .footer-menu-tab {
    padding: 0 15px;
    display: block;
    line-height: 34px;
    font-size: 17px;
    -webkit-transition: background .3s;
    transition: background .3s;
  }
  .footer-menu-tab:hover {
    background: #50597b;
    border-bottom: 4px solid #11a8ab;
    text-decoration: none;
  }
#mybuttons{
  background: #1f253d;
}
#mybtn{
  width: 80px;
  height: 80px;
}

/*-------------------------------mutiselect--------------------------*/
 .multiselect {
  width: 120px;
 }
.selectBox {
  position: relative;
  width: 120px;
  height: 120px;
}
.selectBox select {
  width: 100%;
  font-weight: bold;
}
.overSelect {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRj6HEZ9S4kObp6G9VnA4ee7OcBDxlrE81LGsOe481V8wBJDmW1);
  position: relative;
  left: 0; right: 0; top: 0; bottom: 0;
}
#checkboxes {
  display: none;
  border: 1px #dadada solid;
  width:122px;
  height:434px;
}
#checkboxes label {
  display: block;
}
#checkboxes label:hover {
  background-color: #1e90ff;
}

/*------------------------------------last page-------------------------------------------*/
.button-color{
	position: relative;
	background:#e64c65;
	color: white;
	border-color:#e64c65 ;
	border-radius: 5px;
	width: 107px;
	height: 50px;
	font-weight: 600;
	margin-top: 560px;
	margin-left: 370px;

}
.button1-color{
	position: relative;
	background:#e64c65;
	color: white;
	border-color:#e64c65 ;
	border-radius: 5px;
	width: 107px;
	height: 50px;
	font-weight: 600;
	margin-top: 150px;
	margin-left: 43px;

}
.preview-box{
	width: 800px;
	border: 1px solid royalblue;
	padding: 2px;
	position: relative;
	display: block;
	margin-left: 100px;
	height: 400px;
}
.button1-color:hover{
	background-color:#cc324b ;
	border:none;
}
.button-color:hover{
	background-color:#cc324b ;
	border:none;
}
/*---------------------------------------------------view1---------------------------------------------*/
.lblock{
	position:absolute;
	float:left;
	width: 700px;
	margin-bottom: 25px;
	background: #394264;
	border-radius: 5px;
}
.leftr-menu {
	font-size: 50px;
	line-height: 80px;
}
.dropbtn {
	position: relative;

	background: #394264;
	border: none;
	text-decoration: none;
	padding: 3px 27px;
	display: block;
	color: #fff !important;
	line-height: 74px;
	font-size: 20px;
	-webkit-transition: background .3s;
	transition: background .3s;
}
.handover{
	cursor: pointer;

}
.dropbtn:hover, .dropbtn:focus {
	background: #50597b;
	border-bottom: 4px solid #11a8ab;
	text-decoration: none;
}
.dropdown-content {
	position: relative;
	width:500px;
	background: #394264;
	border: none;
	text-decoration: none;
	padding: 3px 27px;
	display: block;
	color: #fff !important;
	line-height: 74px;
	font-size: 20px;
	-webkit-transition: background .3s;
	transition: background .3s;


	/*background-color: #394264;*/
	/*display: none;*/
	/*right: 0;*/
	/*line-height: 74px;*/
	/*font-size: 47px;*/
	/*-webkit-transition: background .3s;*/
	/*transition: background .3s;*/
}

.dropdown-content a {
	font-size: 20px;
	line-height: 60px;
	display: block;
	border-bottom: 1px solid #1f253d;
	/*mine*/
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {
	background: #50597b;
	border-bottom: 4px solid #11a8ab;
	cursor: pointer;
}
.dropdown-content a:hover {
	background: #50597b;
	border-bottom: 4px solid #11a8ab;
	cursor: pointer;
	/*mine*/
}

/*.show {display:block;}*/
.headerl-menu-tab {

	padding: 0px 30px;
	display: block;
	font-size: 20px;
	-webkit-transition: background .3s;
	transition: background .3s;
}
.headerl-menu-tab:hover {
	background: #50597b;
	border-bottom: 4px solid #11a8ab;
	text-decoration: none;
}
#mybuttons{
	background: #1f253d;
}
#mybtn{
	width: 80px;
	height: 80px;
}
#mydropdown a:hover {background-color: #50597b}


